* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	width: 1024px;
	height: 100%;
	margin: auto;
}

body {
	margin: 0px;
	padding: 0px;
	background: #444;
	font-family: Arial, Verdana, Heveltica;
}

.fluid-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.fluid-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

div#topBack {
	max-width: 1024px;
	padding: 20px 40px;
	margin: 0 auto;
	margin-top: 20px;
	background: url('pictures/london.png') no-repeat center center/cover;
	box-shadow: 0px 0px 20px #000;
	overflow: auto;
	height: 350px;
	max-height: 400px;

	display: flex;
	flex-direction: column;
}

div#topBack div#logos {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-end;
}

div#topBack div#logo1 {
	margin-top: 0px;
	margin-left: -200px;
	margin-right: 0px;
}

div#topBack div#logo2 {
	margin-top: 0px;
	margin-left: -30px;
	margin-right: 20px;
}

div#topBack div#mainTitle {
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
	font-family: Arial, Verdana, Heveltica;
	text-decoration: none;
}

div#topBack div#mainTitle .event-name {
	text-shadow: 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red;
	margin: 0;
}

div#topBack div#mainTitle .event-description {
	margin: 0;
	font-size: 1.1rem;
	/* margin: 5px 0; */
	text-shadow: 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red;
}

div#topBack div#mainTitle .event-date {
	margin: 0;
	font-size: 1.1rem;
	/* margin-top: 10px; */
	text-shadow: 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red;
}

div#topBack div#mainTitle a {
	color: #fff;
	text-align: left;
	font-weight: bold;
	font-family: Arial, Verdana, Heveltica;
	text-decoration: none;
}

/**** MENU ******/
div#menuBack {
	padding: 0px;
	margin: 0 auto;
	width: 1024px;
	background: #000;
	clear: both;
	height: 41px;
	box-shadow: 0px 0px 20px #000;
}

div#menuBack ul.menu {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
	display: inline;
	margin-left: 35px;
}

div#menuBack ul.menu li {
	list-style: none;
	display: inline;
	float: left;
	position: relative;
	text-align: center;
}

div#menuBack ul.menu li a,
div#menuBack ul.menu li p {
	background: transparent;
	float: left;
	color: #ffffff;
	text-decoration: none;
	font-family: Verdana, Arial, Heveltica;
	font-size: 0.85em;
	font-weight: bold;
	text-align: center;
	padding: 12px;
}

div#menuBack ul.menu li p {
	margin: 0;
}

div#menuBack ul.menu li a:hover,
div#menuBack ul.menu li p:hover {
	cursor: pointer;
	background: #333;
	color: #fff;
	width: inherit;
}

/*** SUBMENU ****/
div#menuBack ul.menu ul {
	display: none;
	list-style: none;
	top: 41px;
	position: absolute;
	float: left;
	margin: 0;
	padding: 0;
}

div#menuBack ul.menu li:hover > ul {
	display: block;
	z-index: 100;
	width: inherit;
	background-color: #a7a8aa;
}

div#menuBack ul.menu li.submenu a {
	background: transparent;
	color: #000;
	text-decoration: none;
	font-family: Verdana, Arial, Heveltica;
	font-size: 0.85em;
	font-weight: bold;
	height: auto;
	width: inherit;
}

div#menuBack ul.menu li.submenu a:hover {
	background: #333;
	color: #fff;
	width: inherit;
}

/*** DEFAULT CONFIG ***/
blockquote {
	color: #5b0024;
}

div#mainBody p.title {
	font-family: Arial, Verdana, Heveltica;
	color: #333;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 10px;
}

div#mainBody p.subtitle {
	font-family: Arial, Verdana, Heveltica;
	color: #333;
	font-size: x-large;
	font-weight: bold;
	margin-top: 10px;
}

div#mainBody p.plaintext {
	font-family: Arial, Verdana, Heveltica;
	color: black;
	margin-top: 10px;
}

div#mainBody p.subsubtitle {
	font-size: 1.4rem;
	font-weight: bold;
	color: #333;
}

div#mainBody p.subsubsubtitle {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	margin-top: 10px;
}

div#mainBody table.people_table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	border-collapse: collapse;
	width: 690px;
}

div#mainBody table.people_table td.none {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 5%;
}

div#centerBack {
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 1024px;
	padding: 20px 0px;
	background: #fff;
	box-shadow: 0px 0px 20px #000;
	clear: both;
	height: auto;
	overflow: auto;
}

div#mainBody {
	margin: 0 80px;
}

div#twitter {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 50px;
	background: transparent;
	width: 200px;
	float: right;
	overflow: auto;
}

div#centerBack div#peu {
	padding-top: 10px;
	font-family: Arial, Verdana, Heveltica;
	font-size: 0.8em;
	font-weight: normal;
	color: black;
	text-align: center;
	background: transparent;
}

/* ** ADVERTISEMENT ** */
div#ad {
	background: #ccccff;
	padding: 20px;
	padding-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

div#ad p.subtitle {
	font-family: Arial, Verdana, Heveltica;
	color: #006;
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 0px;
}

div#ad p.plaintext {
	font-family: Arial, Verdana, Heveltica;
	color: black;
	font-size: 0.75rem;
}
/* ** -- -- ** */

/* TODO: move to keynote page section */
.photo {
	font-weight: bold;
	text-align: left;
	background: white;
	width: 120px;
	padding-left: 20px;
}

.text {
	font-family: Arial, Verdana, Heveltica;
	font-size: 1em;
	font-weight: normal;
	color: black;
	text-align: left;
	padding-left: 20px;
}
/* ** --- ** */

/* *** HOMEPAGE ***  */

.homepage-parent .list {
	margin-top: 20px;
}

.homepage-parent .sponsor {
	margin-top: 20px;
}

.homepage-parent .sponsor img {
	margin-top: 20px;
	width: 250px;
}

/* *** Call for Papers (CFP) *** */
.cfp-parent .download-pdf-p {
	margin-top: 10px;
	margin-bottom: 20px;
}

.cfp-parent .download-pdf-p a {
	font-size: inherit;
	color: #333;
	text-decoration: underline;
}

.cfp-parent .list {
	margin: 20px 0;
}

/* *** TIMETABLE (program.html) *** */
.timetable {
	width: 100%;
}

.timetable .table-title {
	font-weight: bold;
	font-size: 18px;
	background-color: #333;
	color: #fff;
}

.timetable thead tr th {
	font-weight: bold;
	font-size: 14px;
	background-color: #333;
	color: #fff;
}

.timetable tbody tr {
	height: 15px;
}

.timetable tbody tr td span {
	color: #000000;
}

.timetable tbody tr .td-time {
	text-align: center;
	background-color: #f2f4ed;
	height: 15px;
	vertical-align: middle;
	width: 100px;
	border-style: solid;
	border-color: #ffffff;
	text-align: center;
	padding: 5px;
}

.timetable tbody tr .td-itinerary {
	width: 150px;
	padding: 15px;
}

.timetable tbody tr .td-itinerary-a {
	background-color: #c0ded9;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: #ffffff;
}

.timetable tbody tr .td-itinerary-b {
	background-color: #b2c2bf;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: #ffffff;
}

.timetable tbody tr .td-itinerary-c {
	background-color: #dec0c5;
	text-align: center;
	height: 15px;
	vertical-align: middle;
	border-style: solid;
	border-color: #ffffff;
}

/* *** SESSIONS *** */
.tg1 .paperSessionName2 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #3b3a30;
	color: #ffffff;
	vertical-align: top;
}
.tg1 .DAY {
	font-family: Verdana, Arial, Heveltica;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #b2c2bf;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperSessionChair2 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #b2c2bf;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperSessionTime2 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #d0efea;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperInvitedTalk {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #b2c2bf;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperInvitedAuthorName {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #f2f4ed;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperInvitedTalkTime {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #d0efea;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperSessionPaperTitle {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #f2f4ed;
	color: #000000;
	vertical-align: top;
}
.tg1 .paperSessionAuthorName {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #f2f4ed;
	color: #000000;
	vertical-align: top;
}

/* *** TALKS (keynote.html) *** */
#mainBody-keynote {
	display: flex;
	flex-direction: column;
	margin: 50px 100px;
}

.tg2 .paperSessionName2 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #3b3a30;
	color: #ffffff;
	vertical-align: top;
}
.tg2 .paperSessionChair2 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #b2c2bf;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperSessionTime2 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #d0efea;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperSessionTime3 {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #b2c2bf;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperInvitedTalk {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #b2c2bf;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperInvitedAuthorName {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #f2f4ed;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperInvitedTalkTime {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #d0efea;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperSessionPaperTitle {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #f2f4ed;
	color: #000000;
	vertical-align: top;
}
.tg2 .paperSessionAuthorName {
	font-family: Verdana, Arial, Heveltica;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	overflow: hidden;
	word-break: normal;
	background-color: #f2f4ed;
	color: #000000;
	vertical-align: top;
}

/* *** REGISTRATION *** */
.registration-parent .registration-link-div {
	text-align: center;
	margin: 40px 0;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	div#mainBody {
		margin: 40px 20px;
		/* height: 100%;
		width: 50%; */
	}

	div#centerBack {
		padding: 0;
		margin: 0;
		height: 100%;
		/* width: 100%; */
		/* width: 50%; */
		clear: none;
	}

	div#topBack {
		/* width: 100%; */

		display: flex;
		flex-direction: column-reverse;
		box-shadow: none;
	}

	div#topBack div#logo1,
	div#topBack div#logo2,
	div#topBack div#mainTitle {
		margin: 0;
		padding: 0;
		float: none;
	}

	div#topBack div#mainTitle {
		width: auto;
		margin-top: 40px;
	}

	div#topBack div#mainTitle .event-name,
	div#topBack div#mainTitle .event-description,
	div#topBack div#mainTitle .event-date {
		font-size: none;
		line-height: 25px;
		margin: 0;
	}

	div#topBack div#mainTitle .event-name {
		line-height: 55px;
	}

	div#topBack div#mainTitle .event-description {
		margin: 30px 0;
	}

	div#menuBack {
		width: auto;
		background: none;
		box-shadow: none;
	}

	div#menuBack ul.menu {
		display: flex;
		flex-direction: column;
		background-color: black;
		width: 100%;
		margin: 0;
	}

	div#menuBack ul.menu li {
		position: none;
		float: unset;
		padding: 5px;
		width: auto;
	}

	div#menuBack ul.menu li a,
	div#menuBack ul.menu li p {
		width: 80%;
		text-align: left;
	}

	.tg1,
	.tg2 {
		width: 100%;
	}

	.tg2 td.photo,
	.tg2 td.text {
		margin: 0;
		padding: 0;
	}

	div#mainBody p.subsubtitle {
		text-align: center;
	}

	.tg2 .user-info-tr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 485px) {
	.timetable {
		overflow-x: scroll;
	}

	.timetable tbody tr .td-itinerary {
		width: 100px;
		padding: 10px;
	}
}
